---
import Layout from "../layouts/Layout.astro";
---

<div><a href="/">Back Home</a></div>
<Layout title="Colin Riddell">
  <main>
    <h1>Colin Riddell</h1>
    <img src="colin-headshot.png" class="headshot" />
    <div>
      Colin boasts well over a decade's experience in Scotland's technology
      scene as a senior software engineer. He developed his passion for
      technical education and careers after serving as a lead instructor at
      CodeClan, Scotland's largest coding bootcamp.
    </div>
    <h3>Contact Colin</h3>
    <div>
      <a href="https://www.linkedin.com/in/cjriddell/" target="_blank"
        >LinkedIn</a
      >
      <a href="https://www.twitter.com/colin_riddell" target="_blank">Twitter</a
      >
      <a href="mailto:colin@thecodercareer.com" target="_blank">Email</a>
    </div>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20vw;
    max-height: 20vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
  }
</style>
