---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Contact from "../components/contact.astro";
---

<Layout title="The Coder Career">
  <main>
    <h1>The Coder Career Podcast</h1>
    <p>
      The Coder Career is a podcast dedicated to helping you break into tech,
      level up and stand out in the industry.
    </p>
    <p>
      We interview a diverse range of people in the technology industry to
      provide you with insight and lessons on how to achieve your goals.
    </p>
    <p>
      Our hosts Cameron and Colin are professional software engineers, with
      Colin having the traditional CompSci background and Cameron retraining
      after a career in technical recruitment.
    </p>
    <ul role="list" class="link-card-grid">
      <Card href="/cam" title="Cameron" body="Find out more about Cameron" />
      <Card href="/colin" title="Colin" body="Find out more about Colin" />
      <Card href="/stream" title="Stream The Podcast" body="Get your TCC fix" />
      <Card
        href="https://discord.gg/cYajdTkM4q"
        title="Community"
        body="Join our supportive Discord community"
      />
    </ul>
    <Contact />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
