---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Contact from "../components/contact.astro";
---

<div><a href="/">Back Home</a></div>

<Layout title="Stream The Coder Career">
  <main>
    <h1>Stream The Coder Career Podcast</h1>
    <p>
      We recommend YouTube or Spotify for the best experience, as you have the
      option of video.
    </p>
    <p>
      Want to live chat with us when we drop an episode? Check out our YouTube
      channel on Mondays at 530pm UK time!
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://www.youtube.com/channel/UC-m9HBSgx5drU4cqfuNg5vA"
        title="YouTube"
        body="Stream on YouTube"
      />
      <Card
        href="https://open.spotify.com/show/7BkIsKOw8vhFOmD4ZKXwES"
        title="Spotify"
        body="Stream on Spotify"
      />
      <Card
        href="https://podcasts.apple.com/gb/podcast/the-coder-career/id1588358808"
        title="Apple Podcasts"
        body="Stream on Apple Podcasts"
      />
      <Card
        href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5jYXB0aXZhdGUuZm0vdGhlY29kZXJjYXJlZXIv"
        title="Google Podcasts"
        body="Stream on Google Podcasts"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
